.cart-count {
    float: right;
    padding-top: 5px;
}

.cart-count span {
    margin: auto;
    padding: auto;
}
.cart-count span sup {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

